* {
    box-sizing: border-box;
}

body {
    background: #c0c0c0;
    font-family: Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.game {
    background: #c0c0c0;
    padding: 8px;
    border: 3px solid #808080;
    max-width: 100vw;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #bdbdbd;
    border: 2px inset #fff;
    padding: 5px;
}

#board {
    margin-top: 8px;
    display: grid;
    border: 3px inset #fff;
    touch-action: none; /* ВАЖНО */
}

.cell {
    background: #bdbdbd;
    border: 2px outset #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
}

.cell.open {
    background: #d6d6d6;
    border: 1px solid #999;
}

.cell.flag {
    color: red;
}

.cell.bomb {
    background: #ff4d4d;
}

#message {
    margin-top: 6px;
    padding: 6px;
    text-align: center;
    font-weight: bold;
    border: 2px inset #fff;
    background: #bdbdbd;
}

#message.lose { color: darkred; }
#message.win { color: darkgreen; }

.hidden {
    display: none;
}
